/* DiaryContainer */
.diarys {
  overflow: hidden;
  overflow-y: auto;
  width: calc(100% - 320px);
  height: calc(100vh - 68px);
  padding: 60px;
  background-color: #f7f7f7;
  box-sizing: border-box;
}
.diarys::-webkit-scrollbar {
  width: 13px;
}
.diarys::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid transparent;
}
.diarys::-webkit-scrollbar-track {
  background-color: #f7f7f7;
  border-radius: 9px;
  box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.diarys .wrap + .wrap {
  margin-top: 40px;
}
.diarys .title {
  color: #444;
  font-size: 32px;
}

/* DiaryList */
.diarys .box {
  margin-top: 20px;
}
.diarys .list {
  display: flex;
}
.diarys .diary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 12px;
  border: 1px solid #eaeaea;
  background-color: #fff;
}
.diarys .diary + .diary {
  margin-left: 20px;
}
.diarys .diary:last-of-type {
  border: none;
}
.diarys .new_diary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  font-size: 24px;
  color: #aaa;
  border: 1px dashed #ddd;
  border-radius: 12px;
}
.diarys .new_diary:hover {
  color: #666;
  border-radius: 12px;
  border: 1px dashed #999;
}
.diarys .month {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  color: #999;
}
.diarys .date {
  font-size: 24px;
  color: #333;
}
/* NewDiaryPopup */
.diarys .layer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.diarys .layer .inner {
  width: 320px;
  height: 560px;
  padding: 32px;
  border-radius: 20px;
  background-color: #fff;
}
.diarys .layer_title {
  display: block;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 2px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.2;
}
.form {
  padding: 20px 0;
}
.form label {
  display: block;
  margin-bottom: 7px;
  font-size: 14px;
}
.form .item_tf input {
  width: 100%;
  height: 48px;
  padding: 8px 16px;
  font-size: 24px;
  border: 1px solid #777;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}
.form .emotions {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 4px;
}
.form .emotionlist {
  display: flex;
}
.form .emotionlist li {
  position: relative;
  width: 20%;
}
.form .emotionlist input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin-left: -1px;
  opacity: 0.01;
}
.form .emotionlist input[type='radio']:checked + label {
  border: 2px solid #ffe251;
  background-color: #fffdf1;
}
.form .emotionlist label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 78px;
  border: 2px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
}
.form .emotionlist svg {
  margin-bottom: 4px;
  font-size: 30px;
}

.form .textarea {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  resize: none;
}
.form .textarea:focus {
  border: 1px solid #9a9a9a;
}
.form .submit {
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  background-color: #ffd400;
}
.form .taglist {
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  margin: 14px 0 20px;
  padding: 0 10px;
  width: 320px;
  height: 34px;
  box-sizing: border-box;
  /* background-color: #099; */
}
.form .taglist::-webkit-scrollbar {
  display: none;
}
.form input[type='text'] {
  width: 72px;
  height: 30px;
  margin-right: 6px;
  padding: 0 4px;
  font-size: 13px;
  border: none;
  border-bottom: 1px solid #eaeaea;
  outline: none;
  box-sizing: border-box;
}
.form .taglist span {
  display: inline-block;
  height: 30px;
  padding: 0 12px;
  line-height: 30px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 24px;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  white-space: nowrap;
}
.form .taglist span + span,
.form .taglist span + input[type='text'] {
  margin-left: 6px;
}
.form .taglist button {
  display: inline-block;
  height: 30px;
  margin-left: 6px;
  padding: 0 12px;
  line-height: 30px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 24px;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  white-space: nowrap;
}

/* DiaryPreview */
.diarys .preview {
  margin-top: 20px;
  width: 100%;
  height: 500px;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  background-color: #fff;
}

/* DateContainer */
.dates {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 320px;
  height: 30px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #7ea4e8;
}
.dates .today {
  padding-top: 1px;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  color: #fff;
}

/* TodoContainer */
.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 30px;
  width: 320px;
  height: calc(100vh - 98px);
  border-left: 1px solid #eee;
}

/* TodoList */
.todos .wrap {
  width: 100%;
  height: calc(100% - 50px);
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.todos .box + .box {
  margin-top: 40px;
}

.todos .log {
  font-size: 12px;
  color: #666;
  text-align: center;
}
.todos .list {
  padding: 10px 30px 0;
}
.todos .todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}
.todos .todo + .todo {
  margin-top: 5px;
}
.todos .box_inp {
  display: flex;
}
.todos .text {
  display: inline-block;
}
.todos .todo button {
  margin: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #333;
  text-indent: -9999px;
}
.todos .todo button + button {
  margin-left: 4px;
}
.todos .todo input {
  flex-basis: 19px;
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-right: 8px;
  vertical-align: top;
}
.todos .todo input:checked + span {
  color: #999;
  text-decoration: line-through;
}

/* TodoForm */
.todos .item_tf {
  width: 100%;
  height: 50px;
}
.todos .input {
  width: 100%;
  padding: 15px 30px 0;
  color: #555;
  border: none;
  box-sizing: border-box;
  outline: none;
  caret-color: #bbb;
}
.todos .input::placeholder {
  color: #bbb;
}
